SESSION_COOKIE_DOMAIN=slujst.slu.edu.ng
NEXTAUTH_SECRET=FAwNm7pI7CssVfo5dFhSgRwlWoTNDQfn55hT3+0dLoU=ejrk
BACKEND_API_URL=https://api.journals.slu.edu.ng
NEXT_PUBLIC_BACKEND_API_URL=https://api.journals.slu.edu.ng
NEXTAUTH_URL=https://jijosams.slu.edu.ng